In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect(':memory:')

In [ ]:
table_names = [
    'Categories',   # –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ç–æ–≤–∞—Ä–æ–≤
    'Customers',    # –∑–∞–∫–∞–∑—á–∏–∫–∏
    'Employees',    # —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏
    'OrderDetails', # –¥–µ—Ç–∞–ª–∏ –∑–∞–∫–∞–∑–æ–≤
    'Orders',       # –∑–∞–∫–∞–∑—ã
    'Products',     # —Ç–æ–≤–∞—Ä—ã
    'Shippers',     # –ø–µ—Ä–µ–≤–æ–∑—á–∏–∫–∏
    'Suppliers',    # –ø–æ—Å—Ç–∞–≤—â–∏–∫–∏
]

In [ ]:
for table in table_names:
    data = pd.read_csv(f'{table}.csv', sep = ';')
    data.to_sql(table, con, index=False, if_exists='replace')

In [ ]:
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

In [ ]:
tasks = 0

### –í—Å–µ –∑–∞–¥–∞–Ω–∏—è –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Ç–æ–ª—å–∫–æ —Å –ø–æ–º–æ—â—å—é sql

1. –í—ã–±–µ—Ä–∏—Ç–µ –∑–∞–∫–∞–∑—á–∏–∫–æ–≤ –∏–∑ –ì–µ—Ä–º–∞–Ω–∏–∏, –§—Ä–∞–Ω—Ü–∏–∏ –∏ –ú–∞–¥—Ä–∏–¥–∞, –≤—ã–≤–µ–¥–∏—Ç–µ –∏—Ö –Ω–∞–∑–≤–∞–Ω–∏–µ, —Å—Ç—Ä–∞–Ω—É –∏ –∞–¥—Ä–µ—Å.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

2. –í—ã–±–µ—Ä–∏—Ç–µ —Ç–æ–ø 3 —Å—Ç—Ä–∞–Ω—ã –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–∫–∞–∑—á–∏–∫–æ–≤, –≤—ã–≤–µ–¥–∏—Ç–µ –∏—Ö –Ω–∞–∑–≤–∞–Ω–∏—è –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

3. –í—ã–±–µ—Ä–∏—Ç–µ –ø–µ—Ä–µ–≤–æ–∑—á–∏–∫–∞, –∫–æ—Ç–æ—Ä—ã–π –æ—Ç–ø—Ä–∞–≤–∏–ª 10-–π –ø–æ –≤—Ä–µ–º–µ–Ω–∏ –∑–∞–∫–∞–∑, –≤—ã–≤–µ–¥–∏—Ç–µ –µ–≥–æ –Ω–∞–∑–≤–∞–Ω–∏–µ, –∏ –¥–∞—Ç—É –æ—Ç–ø—Ä–∞–≤–ª–µ–Ω–∏—è.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

4. –í—ã–±–µ—Ä–∏—Ç–µ —Å–∞–º—ã–π –¥–æ—Ä–æ–≥–æ–π –∑–∞–∫–∞–∑, –≤—ã–≤–µ–¥–∏—Ç–µ —Å–ø–∏—Å–æ–∫ —Ç–æ–≤–∞—Ä–æ–≤ —Å –∏—Ö —Ü–µ–Ω–∞–º–∏.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

5. –ö–∞–∫–æ–π —Ç–æ–≤–∞—Ä –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∑–∞–∫–∞–∑—ã–≤–∞–ª–∏ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞, –≤—ã–≤–µ–¥–∏—Ç–µ –µ–≥–æ –Ω–∞–∑–≤–∞–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü –≤ –∫–∞–∂–¥–æ–º –∏–∑ –∑–∞–∫–∞–∑–æ–≤.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

6. –í—ã–≤–µ–¥–∏—Ç–µ —Ç–æ–ø 5 –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–∫–∞–∑–æ–≤, –≤—ã–≤–µ–¥–∏—Ç–µ –∏—Ö –Ω–∞–∑–≤–∞–Ω–∏—è, —Å—Ç—Ä–∞–Ω—É, –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ–µ –ª–∏—Ü–æ –∏ —Ç–µ–ª–µ—Ñ–æ–Ω.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

7. –ö–∞–∫—É—é –∫–∞—Ç–µ–≥–æ—Ä–∏—é —Ç–æ–≤–∞—Ä–æ–≤ –∑–∞–∫–∞–∑—ã–≤–∞–ª–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–æ —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –≤ –ë—Ä–∞–∑–∏–ª–∏–∏, –≤—ã–≤–µ–¥–∏—Ç–µ —Å—Ç—Ä–∞–Ω—É, –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∏ —Å—É–º–º—É.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

8. –ö–∞–∫–∞—è —Ä–∞–∑–Ω–∏—Ü–∞ –≤ —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –º–µ–∂–¥—É —Å–∞–º—ã–º –¥–æ—Ä–æ–≥–∏–º –∏ —Å–∞–º—ã–º –¥–µ—à–µ–≤—ã–º –∑–∞–∫–∞–∑–æ–º –∏–∑ –°–®–ê.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

9. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤ —É –∫–∞–∂–¥–æ–≥–æ –∏—Ö —Ç—Ä–µ—Ö —Å–∞–º—ã—Ö –º–æ–ª–æ–¥—ã—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤, –∞ —Ç–∞–∫–∂–µ –∏–º—è –∏ —Ñ–∞–º–∏–ª–∏—é –≤–æ –≤—Ç–æ—Ä–æ–π –∫–æ–ª–æ–Ω–∫–µ.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

10. –°–∫–æ–ª—å–∫–æ –±–∞–Ω–æ–∫ –∫—Ä–∞–±–æ–≤–æ–≥–æ –º—è—Å–∞ –≤—Å–µ–≥–æ –±—ã–ª–æ –∑–∞–∫–∞–∑–∞–Ω–æ.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

In [ ]:
if tasks==10:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ')
else:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –Ω–µ –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è! üôÄ')