In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect(':memory:')

In [3]:
table_names = [
    'Categories',   # –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ç–æ–≤–∞—Ä–æ–≤
    'Customers',    # –∑–∞–∫–∞–∑—á–∏–∫–∏
    'Employees',    # —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏
    'OrderDetails', # –¥–µ—Ç–∞–ª–∏ –∑–∞–∫–∞–∑–æ–≤
    'Orders',       # –∑–∞–∫–∞–∑—ã
    'Products',     # —Ç–æ–≤–∞—Ä—ã
    'Shippers',     # –ø–µ—Ä–µ–≤–æ–∑—á–∏–∫–∏
    'Suppliers',    # –ø–æ—Å—Ç–∞–≤—â–∏–∫–∏
]

In [4]:
for table in table_names:
    data = pd.read_csv(f'{table}.csv', sep = ';')
    data.to_sql(table, con, index=False, if_exists='replace')

In [5]:
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

,CategoryID,CategoryName,Description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat/Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

In [7]:
tasks = 0

### –í—Å–µ –∑–∞–¥–∞–Ω–∏—è –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Ç–æ–ª—å–∫–æ —Å –ø–æ–º–æ—â—å—é sql

1. –í—ã–±–µ—Ä–∏—Ç–µ –∑–∞–∫–∞–∑—á–∏–∫–æ–≤ –∏–∑ –ì–µ—Ä–º–∞–Ω–∏–∏, –§—Ä–∞–Ω—Ü–∏–∏ –∏ –ú–∞–¥—Ä–∏–¥–∞, –≤—ã–≤–µ–¥–∏—Ç–µ –∏—Ö –Ω–∞–∑–≤–∞–Ω–∏–µ, —Å—Ç—Ä–∞–Ω—É –∏ –∞–¥—Ä–µ—Å.

In [11]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Customers WHERE Country='Germany' OR Country='France' OR City='Madrid'
    ''',
    con,
)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
2,7,Blondel p√®re et fils,Fr√©d√©rique Citeaux,"24, place Kl√©ber",Strasbourg,67000,France
3,8,B√≥lido Comidas preparadas,Mart√≠n Sommer,"C/ Araquil, 67",Madrid,28023,Spain
4,9,Bon app',Laurence Lebihans,"12, rue des Bouchers",Marseille,13008,France
5,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
6,18,Du monde entier,Janine Labrune,"67, rue des Cinquante Otages",Nantes,44000,France
7,22,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,"C/ Moralzarzal, 86",Madrid,28034,Spain
8,23,Folies gourmandes,Martine Ranc√©,"184, chauss√©e de Tournai",Lille,59000,France
9,25,Frankenversand,Peter Franken,Berliner Platz 43,M√ºnchen,80805,Germany
10,26,France restauration,Carine Schmitt,"54, rue Royale",Nantes,44000,France
11,39,K√∂niglich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
12,40,La corne d'abondance,Daniel Tonini,"67, avenue de l'Europe",Versailles,78000,France
13,41,La maison d'Asie,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France
14,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
15,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,4179,Germany
16,56,Ottilies K√§seladen,Henriette Pfalzheim,Mehrheimerstr. 369,K√∂ln,50739,Germany
17,57,Paris sp√©cialit√©s,Marie Bertrand,"265, boulevard Charonne",Paris,75012,France
18,63,QUICK-Stop,Horst Kloss,Taucherstra√üe 10,Cunewalde,1307,Germany
19,69,Romero y tomillo,Alejandra Camino,"Gran V√≠a, 1",Madrid,28001,Spain
20,74,Sp√©cialit√©s du monde,Dominique Perrier,"25, rue Lauriston",Paris,75016,France
21,79,Toms Spezialit√§ten,Karin Josephs,Luisenstr. 48,M√ºnster,44087,Germany
22,84,Victuailles en stock,Mary Saveley,"2, rue du Commerce",Lyon,69004,France
23,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
24,86,Die Wandernde Kuh,Rita M√ºller,Adenauerallee 900,Stuttgart,70563,Germany

2. –í—ã–±–µ—Ä–∏—Ç–µ —Ç–æ–ø 3 —Å—Ç—Ä–∞–Ω—ã –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–∫–∞–∑—á–∏–∫–æ–≤, –≤—ã–≤–µ–¥–∏—Ç–µ –∏—Ö –Ω–∞–∑–≤–∞–Ω–∏—è –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π.

In [12]:
tasks+=1
pd.read_sql(
    '''
    SELECT Country, COUNT(*) as 'Number of Customers'
    FROM Customers
    GROUP BY Country
    ORDER BY COUNT(*) DESC
    LIMIT 3
    ''',
    con,
)

   Country  Number of Customers
0      USA                   13
1  Germany                   11
2   France                   11

3. –í—ã–±–µ—Ä–∏—Ç–µ –ø–µ—Ä–µ–≤–æ–∑—á–∏–∫–∞, –∫–æ—Ç–æ—Ä—ã–π –æ—Ç–ø—Ä–∞–≤–∏–ª 10-–π –ø–æ –≤—Ä–µ–º–µ–Ω–∏ –∑–∞–∫–∞–∑, –≤—ã–≤–µ–¥–∏—Ç–µ –µ–≥–æ –Ω–∞–∑–≤–∞–Ω–∏–µ, –∏ –¥–∞—Ç—É –æ—Ç–ø—Ä–∞–≤–ª–µ–Ω–∏—è.

In [16]:
tasks+=1
pd.read_sql(
    '''
    SELECT Shippers.ShipperName, Orders.OrderDate
    FROM Orders
    JOIN Shippers
    ON Orders.ShipperID = Shippers.ShipperID
    ORDER BY Orders.OrderDate
    LIMIT 1 OFFSET 9
    ''',
    con,
)

        ShipperName   OrderDate
0  Federal Shipping  02.10.1996

4. –í—ã–±–µ—Ä–∏—Ç–µ —Å–∞–º—ã–π –¥–æ—Ä–æ–≥–æ–π –∑–∞–∫–∞–∑, –≤—ã–≤–µ–¥–∏—Ç–µ —Å–ø–∏—Å–æ–∫ —Ç–æ–≤–∞—Ä–æ–≤ —Å –∏—Ö —Ü–µ–Ω–∞–º–∏.

In [22]:
tasks+=1
pd.read_sql(
    '''
    WITH OrderTotal AS (
    SELECT OrderID, SUM(Quantity*Price) AS Total
    FROM OrderDetails
    JOIN Products
    ON OrderDetails.ProductID = Products.ProductID
    GROUP BY OrderID
    )
    SELECT Products.ProductName, Products.Price
    FROM OrderTotal
    JOIN OrderDetails
    ON OrderTotal.OrderID = OrderDetails.OrderID
    JOIN Products
    ON OrderDetails.ProductID = Products.ProductID
    WHERE OrderTotal.Total = (SELECT MAX(Total) FROM OrderTotal)
    ''',
    con,
)

              ProductName  Price
0  Sir Rodney's Marmalade     81
1           C√¥te de Blaye  263.5
2       Camembert Pierrot     34
3  Mozzarella di Giovanni   34.8

5. –ö–∞–∫–æ–π —Ç–æ–≤–∞—Ä –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∑–∞–∫–∞–∑—ã–≤–∞–ª–∏ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞, –≤—ã–≤–µ–¥–∏—Ç–µ –µ–≥–æ –Ω–∞–∑–≤–∞–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü –≤ –∫–∞–∂–¥–æ–º –∏–∑ –∑–∞–∫–∞–∑–æ–≤.

In [23]:
tasks+=1
pd.read_sql(
    '''
    SELECT ProductName, SUM(Quantity) as 'Total Quantity'
    FROM OrderDetails
    JOIN Products
    ON OrderDetails.ProductID = Products.ProductID
    GROUP BY ProductName
    ORDER BY SUM(Quantity) DESC
    LIMIT 1
    ''',
    con,
)

         ProductName  Total Quantity
0  Gorgonzola Telino             458

6. –í—ã–≤–µ–¥–∏—Ç–µ —Ç–æ–ø 5 –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–∫–∞–∑–æ–≤, –≤—ã–≤–µ–¥–∏—Ç–µ –∏—Ö –Ω–∞–∑–≤–∞–Ω–∏—è, —Å—Ç—Ä–∞–Ω—É, –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ–µ –ª–∏—Ü–æ –∏ —Ç–µ–ª–µ—Ñ–æ–Ω.

In [26]:
tasks+=1
pd.read_sql(
    '''
    WITH SupplierOrders AS (
    SELECT SupplierID, COUNT(DISTINCT OrderID) as 'NumberOfOrders'
    FROM Products
    JOIN OrderDetails
    ON Products.ProductID = OrderDetails.ProductID
    GROUP BY SupplierID
    )
    SELECT SupplierName, Country, ContactName, Phone, NumberOfOrders
    FROM Suppliers
    JOIN SupplierOrders
    ON Suppliers.SupplierID = SupplierOrders.SupplierID
    ORDER BY NumberOfOrders DESC
    LIMIT 5
    ''',
    con,
)

,SupplierName,Country,ContactName,Phone,NumberOfOrders
0,"Pavlova, Ltd.",Australia,Ian Devling,(03) 444-2343,37
1,Plutzer Lebensmittelgro√üm√§rkte AG,Germany,Martin Bein,(069) 992755,37
2,"Specialty Biscuits, Ltd.",UK,Peter Wilson,(161) 555-4448,33
3,Norske Meierier,Norway,Beate Vileid,(0)2-953010,30
4,Formaggi Fortini s.r.l.,Italy,Elio Rossi,(0544) 60323,27

7. –ö–∞–∫—É—é –∫–∞—Ç–µ–≥–æ—Ä–∏—é —Ç–æ–≤–∞—Ä–æ–≤ –∑–∞–∫–∞–∑—ã–≤–∞–ª–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–æ —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –≤ –ë—Ä–∞–∑–∏–ª–∏–∏, –≤—ã–≤–µ–¥–∏—Ç–µ —Å—Ç—Ä–∞–Ω—É, –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∏ —Å—É–º–º—É.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

8. –ö–∞–∫–∞—è —Ä–∞–∑–Ω–∏—Ü–∞ –≤ —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –º–µ–∂–¥—É —Å–∞–º—ã–º –¥–æ—Ä–æ–≥–∏–º –∏ —Å–∞–º—ã–º –¥–µ—à–µ–≤—ã–º –∑–∞–∫–∞–∑–æ–º –∏–∑ –°–®–ê.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

9. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤ —É –∫–∞–∂–¥–æ–≥–æ –∏—Ö —Ç—Ä–µ—Ö —Å–∞–º—ã—Ö –º–æ–ª–æ–¥—ã—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤, –∞ —Ç–∞–∫–∂–µ –∏–º—è –∏ —Ñ–∞–º–∏–ª–∏—é –≤–æ –≤—Ç–æ—Ä–æ–π –∫–æ–ª–æ–Ω–∫–µ.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

10. –°–∫–æ–ª—å–∫–æ –±–∞–Ω–æ–∫ –∫—Ä–∞–±–æ–≤–æ–≥–æ –º—è—Å–∞ –≤—Å–µ–≥–æ –±—ã–ª–æ –∑–∞–∫–∞–∑–∞–Ω–æ.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM Categories
    ''',
    con,
)

In [ ]:
if tasks==10:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ')
else:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –Ω–µ –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è! üôÄ')